/* style all elements in the <body> */
body {
    font-family: sans-serif;
    vertical-align: center;
    background-color:cyan;

}

/* style all the buttons in a page */
button {
    width: 50px;
    color: black;
}

/* style the element with the id “myId” */
#myId {
    color: yellow;
}

/*style all elements with the class “fontLarge” */
.fontLarge{
    font-size: 14px;
}

/* style all p elements with the class “center” */
p.center {
    text-align: center;
    color: black;
}

/* style all h1, h2 and p elements */
h1, h2, p {
    text-align: right;
}

#outcome {
    align: right;
}